<h2>Add a sermon</h2>

<form enctype="multipart/form-data">
  <div class="form-group">
    <label class="custom-file">
      <input type="file" id="file" multiple="true" class="custom-file-input">
      <span class="custom-file-control"></span>
    </label>
  </div>
  <div class="form-group">
    <label id="current-file-label">Current file</label>
    <div class="progress" style="width:25%">
      <div id="progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:0%"></div>
    </div>
  </div>
  <button type="button" class="btn btn-primary">Save</button>
</form>

<script type="text/javascript">
 AWS.config = new AWS.Config({
   region: '<%= Aws.config[:region] %>',
   accessKeyId: '<%= @aws_credentials.access_key_id %>',
   secretAccessKey: '<%= @aws_credentials.secret_access_key %>',
   sessionToken: '<%= @aws_credentials.session_token %>',
   expireTime: '<%= @aws_credentials.expiration %>'
 });

 $(':button').on('click', function() {
   var fileInput = document.getElementById('file');
   if (fileInput.files.length <= 0) {
     alert("No files selected!");
     return;
   }

   for (i = 0; i < fileInput.files.length; i++) {
     var file = fileInput.files[i];
     $('#current-file-label').html(file.name);

     var upload = new AWS.S3.ManagedUpload({
       params: {
         Bucket: '<%= @aws_bucket %>',
         Key: file.name,
         Body: file,
         ContentType: file.type,
         ACL: 'public-read'
       }});

     upload.on('httpUploadProgress', function (progress) {
       $('#progress').width((progress.loaded / progress.total)*100 + "%");
     });

     upload.send();
   }
 });
</script>
