<h2><%= @sermon.sermon_series.title %></h2>
<h4>Add a sermon</h4>

<%= form_for @sermon, url: sermon_series_sermons_path(@sermon.sermon_series) do |f| %>
  <%= f.text_field :title %>
  <%= f.text_area :description, size: "60x12" %>
<% end %>

<form enctype="multipart/form-data">
  <div class="form-group">
    <label class="btn btn-primary">
      <input id="audio-file" type="file" accept="audio/*" style="display:none" onchange="$('#audio-file-selected').html($(this).val().replace('C:\\fakepath\\', ''));">
      Choose audio file...
    </label>
    <span class="label label-info" id="audio-file-selected"></span>
  </div>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadModal">Save</button>
</form>

<div class="modal fade" data-backdrop="static" id="uploadModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadModalLabel"></h5>
      </div>
      <div class="modal-body">
        <div class="progress" style="width:100%">
          <div id="progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:0%"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
 AWS.config = new AWS.Config({
   region: '<%= Aws.config[:region] %>',
   accessKeyId: '<%= @aws_credentials.access_key_id %>',
   secretAccessKey: '<%= @aws_credentials.secret_access_key %>',
   sessionToken: '<%= @aws_credentials.session_token %>',
   expireTime: '<%= @aws_credentials.expiration %>'
 });

 function createManagedUpload(file) {
   var upload = new AWS.S3.ManagedUpload({
     params: {
       Bucket: '<%= @aws_bucket %>',
       Key: file.name,
       Body: file,
       ContentType: file.type,
       ACL: 'public-read'
     }});

   upload.on('httpUploadProgress', function (progress) {
     $('#progress').width((progress.loaded / progress.total)*100 + "%");
     if ((progress.loaded / progress.total) == 1) {
       $('#uploadModal').modal('hide');
     }
   });

   return upload;
 }

 $(':button').on('click', function() {
   var fileInput = document.getElementById('audio-file');
   if (fileInput.files.length <= 0) {
     return;
   }

   for (i = 0; i < fileInput.files.length; i++) {
     var file = fileInput.files[i];
     upload = createManagedUpload(file);
     upload.send();
   }
 });
</script>
