<h2><%= @sermon.sermon_series.title %></h2>
<h4>Add a sermon</h4>

<%= form_for @sermon, url: sermon_series_sermons_path(@sermon.sermon_series) do |f| %>
  <%= f.text_field :title %>
  <%= f.text_area :description %>
  <%= f.hidden_field :uuid %>
  <%= f.hidden_field :audio_key %>
  <%= f.hidden_field :transcript_key %>
<% end %>

<form enctype="multipart/form-data">
  <div class="form-group">
    <label class="btn btn-primary">
      <input id="audio-file" type="file" accept="audio/*" style="display:none" onchange="$('#audio-file-selected').html($(this).val().replace('C:\\fakepath\\', ''));">
      Choose audio file...
    </label>
    <span class="label label-info" id="audio-file-selected"></span>
  </div>
  <div class="form-group">
    <label class="btn btn-primary">
      <input id="transcript-file" type="file" accept="application/pdf" style="display:none" onchange="$('#transcript-file-selected').html($(this).val().replace('C:\\fakepath\\', ''));">
      Choose transcript file...
    </label>
    <span class="label label-info" id="transcript-file-selected"></span>
  </div>
</form>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadModal">Save</button>

<div class="modal fade" data-backdrop="static" id="uploadModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadModalLabel"></h5>
      </div>
      <div class="modal-body">
        <div class="progress" style="width:100%">
          <div id="progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:0%"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  if (typeof AWS === 'undefined') {
    alert("S3 is down!");
    window.history.back();
  }

  AWS.config = new AWS.Config({
    region: '<%= Aws.config[:region] %>',
    accessKeyId: '<%= @aws_credentials.access_key_id %>',
    secretAccessKey: '<%= @aws_credentials.secret_access_key %>',
    sessionToken: '<%= @aws_credentials.session_token %>',
    expireTime: '<%= @aws_credentials.expiration %>'
  });

  function createManagedUpload(file) {
    var upload = new AWS.S3.ManagedUpload({
      params: {
        Bucket: '<%= @aws_bucket %>',
        Key: 'sermons/<%= @sermon.uuid %>/' + file.name,
        Body: file,
        ContentType: file.type,
        ACL: 'public-read'
      }});

    upload.on('httpUploadProgress', function (progress) {
      $('#uploadModalLabel').html(file.name);
      $('#progress').width((progress.loaded / progress.total)*100 + "%");
    });

    return upload;
  }

  $(':button').on('click', function(event) {
    var audioInput = document.getElementById('audio-file');
    var transcriptInput = document.getElementById('transcript-file');
    if (audioInput.files.length <= 0 || transcriptInput.files.length <= 0) {
      return;
    }

    var audioUpload = createManagedUpload(audioInput.files[0]);
    var transcriptUpload = createManagedUpload(transcriptInput.files[0]);

    audioUpload.send(function (err, audioData) {
      $('#sermon_audio_key').val(audioData.Key);
      transcriptUpload.send(function (err, transcriptData) {
        $('#sermon_transcript_key').val(transcriptData.Key);
        $('#uploadModal').modal('hide');
        $('#new_sermon').submit();
      });
    });
  });
</script>
